@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts imports */
@font-face {
    font-family: 'Amulya';
    src: url('../fonts/Amulya-Variable.ttf');
}
@font-face {
    font-family: 'Synonym';
    src: url('../fonts/Synonym-Variable.ttf');
}

/* hide scrollbars class */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* .scrollbar-dot {
    scrollbar-color: #DFDFDF transparent;
}
.scrollbar-dot::-webkit-scrollbar-track {
    opacity: 0;
}
.scrollbar-dot::-webkit-scrollbar-thumb {
    color: #DFDFDF;
    border-radius: 4px;
} */

/* fonts classes */
.amulya {
    font-family: 'Amulya';
    color: #DFDFDF;
}
.synonym {
    font-family: 'Synonym';
    color: #DFDFDF;
}
